In [1]:
from main import create_developer_pair_dataset
from git import Repo

You need a Git repository to launch the analysis. Either use a local path on your computer, or clone a remote repository to a temporary folder.

*Warning*: don't clone a too big repository because analysis would become slow.
The suggested repository with around 3000 commits is a good size.

In [2]:
USE_LOCAL_REPOSITORY = False

if USE_LOCAL_REPOSITORY:
    repo = Repo('~/downloads/Incepted/Campus-Android')
else:
    from tempfile import TemporaryDirectory
    tmp = TemporaryDirectory()
    
    repo_url = "https://github.com/TUM-Dev/Campus-Android.git"

    repo = Repo.clone_from(repo_url, tmp.name)

In [3]:
dataset = create_developer_pair_dataset(repo, count='FILES')

2822it [00:24, 112.95it/s]

In [4]:
dataset

,User 1,User 2,Common Files,% User 1,% User 2,IoU,product
583,Florian Dreier,kordianbruck,1006,0.558579,0.712465,0.455822,458.557318
106,Kordian Bruck,Till Hellmund,923,0.291535,0.891787,0.281574,259.892923
124,Kordian Bruck,kordianbruck,939,0.296589,0.665014,0.258038,242.297609
574,fent,kordianbruck,593,0.926562,0.419972,0.406443,241.020562
108,Kordian Bruck,Philipp Fent,840,0.265319,0.950226,0.261682,219.813084
...,...,...,...,...,...,...,...
1328,Kordian Bruck,Suriyaa ✌️️,1,0.000316,1.000000,0.000316,0.000316
1495,JonWel,Kordian Bruck,1,1.000000,0.000316,0.000316,0.000316
1296,Fabian Sauter,Kordian Bruck,1,1.000000,0.000316,0.000316,0.000316
1310,Kordian Bruck,Nils Reichardt,1,0.000316,1.000000,0.000316,0.000316
1103,FabianNowak,Kordian Bruck,1,0.500000,0.000316,0.000316,0.000316